@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

@theme {
  --color-primary: #28282b;
  --color-primary-dull: #3b3c3f;
  --color-secondary: #7ecbe0;
}